<div class="card mb-3" >
    <img class="card-img-top" style="height: 250px; width: 150px;" src=""
        alt="Card image cap">
    <div class="card-body" style="text-align: center;">
        <span class="card-text">
            <!-- <div >
                <p> ניהול ועד הבית </p> -->
                <!-- <p style="font-size: 70px;"> יו"ר ועד הבית</p> -->
                <!-- <div style="font-size: 20px;">יו"ר ועד הבית</div> -->
            <!-- </div> -->
           

        </span>
        <p class="card-text" style="text-align: left;"><small class="text-muted">@2024 O&M</small></p>
    </div>
</div>