<div class="row  text-right">
  <div class="col-sm">
    <div class="card shadow-sm p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <h5 class="card-title"> דיווח על תקלה שטופלה</h5>
        <form (ngSubmit)="onSubmitForm()" #signupForm="ngForm" dir="rtl">
           <div class="form-group">
            <label for="Frequency">דיווח על תקלה</label>
            <select class="custom-select" id="Frequency" [(ngModel)]="Tasks.TypeOfTask" 
            required [ngModelOptions]="{standalone: true}">
            <option></option>
              <option *ngFor="let t of FrequenciesFilterList" [ngValue]="t.FrequenciesCode">
                {{t.Details}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="pr">איש מקצוע שתיקן</label>
            <select class="custom-select" id="pr" 
              [(ngModel)]="Tasks.FixedBy" required
              [ngModelOptions]="{standalone: true}">
              <option></option>
              <option *ngFor="let t of ProfessionalsList" [ngValue]="t.ProfessionalsCode">
                {{t.LastName}}  {{t.FirstName}}
              </option>
            </select>
          </div>
                    <div class="form-group">
            <label for="Address">תאריך התיקון</label>&nbsp;
            <input type="date" [(ngModel)]="Tasks.FixeDate" name="Address" class="form-control" id="Address">
          </div>
          <div>
          <label for="Details">פרטי ההוצאה </label>
          <select class="custom-select" id="FrequencyObject" [(ngModel)]="Tasks.Details" required
          [ngModelOptions]="{standalone: true}">
          <option></option>
          <option *ngFor="let t of FrequencyObjectList" [ngValue]="t.FrequencyObjects">
            {{t.FrequencyObjects}}
          </option>
        </select>
      </div>
      <div class="form-group">
          <label for="Amount">סכום הוצאה </label>
          <input [(ngModel)]="Tasks.Amount" name="Amount" type="number" class="form-control"
              id="Amount" aria-describedby="Amount" required> 
      </div>
         
      <button mat-stroked-button color="accent"  type="submit" [disabled]="signupForm.invalid">הוספה</button>
    </form>
      </div>
    </div>
  </div>
  <span></span>

  <div class="col-sm-6">
    <div class="d-flex justify-content-center">
      <div class="spinner-border text-primary" *ngIf="TasksList.length == 0" role="status"
        style="width: 10rem; height: 10rem;">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="alert alert-info" *ngIf="bool">
      נא למלא פרטים לעדכון!
      <strong></strong>
    </div>
    <div class="card shadow-sm p-3 mb-5 bg-white rounded" *ngIf="TasksList.length > 0">
      <form>
        <div class="card-header">
          <h2 dir="rtl" class="text-center">רשימת התקלות שטופלו</h2>
              
        </div>
        <br>
        <ul class="list-group list-group-flush" *ngFor="let n of TasksList" name="divS">
          <li class="list-group-item">
            <div class="container">
              <div class="row">
          <li class="col card-title">
           <app-show-Tasks [tasks]="n"></app-show-Tasks>
          </li>

          <div class="col">
            <button type="button" class="btn btn-danger btn-block" (click)="Delete(n)">למחיקה</button>

          </div>
    </div>
  </div>
  </li>
  </ul>
  </form>

</div>
