<div class="text-right" style="margin-top: 3%;
display: flex;
justify-content: center;    margin-bottom: 3%;">
  <div class="col-sm">
    <div class="card shadow-sm p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <h5 class="card-title">הוספת דייר חדש</h5>
        <form (ngSubmit)="onSubmitForm()" #signupForm="ngForm" dir="rtl">
          <div class="form-group">
            <label for="name">שם פרטי: </label>
            <input [(ngModel)]="Tenants.FirstName" name="name" type="text" class="form-control" id="nameFirst"
              aria-describedby="name" required>
          </div>
          <div class="form-group">
            <label for="name">שם משפחה: </label>
            <input [(ngModel)]="Tenants.LastName" name="name" type="text" class="form-control" id="name"
              aria-describedby="name" required>
          </div>
          <div class="form-group">
            <label for="name">Email </label>
            <input [(ngModel)]="Tenants.EMail" name="name" type="email" class="form-control" id="Email"
              aria-describedby="name" required>
          </div>
          <div class="form-group">
            <label for="floor">קומה</label>&nbsp;
            <input type="number" [(ngModel)]="Tenants.Floor" name="floor" class="form-control" id="floor">
          </div>
          <div class="form-group">
            <label for="hours">מס' דירה</label>
            <input [(ngModel)]="Tenants.NumOfApartment" name="hours" type="number" class="form-control" id="hours"
              aria-describedby="hours">
          </div>
          <button mat-stroked-button color="accent" type="submit">הוספה</button>
        </form>
      </div>
    </div>
  </div>
  <span></span>
  <div class="col-sm-8">
    <div class="d-flex justify-content-center">
      <div class="spinner-border text-primary" *ngIf="TenantsList.length == 0" role="status"
        style="width: 10rem; height: 10rem;">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="alert alert-info" *ngIf="bool">
      נא למלא פרטים לעדכון!
      <strong></strong>
    </div>
    <div class="card shadow-sm p-3 mb-5 bg-white rounded" *ngIf="TenantsList.length > 0">
      <form>
        <div >
          <h2 dir="rtl" class="text-center">כל הדיירים</h2>
          <label class="sr-only" for="search">חיפוש דייר</label>
           
            <input [(ngModel)]="search" id="search" class="text-center form-control form-control-lg"
              placeholder=" לחיפוש הקלד שם משפחה..." name="search"><br>
        </div>
        <br>
        <ul class="list-group list-group-flush" *ngFor="let n of TenantsList | filter: search" name="divS">
          <li class="list-group-item">
            <div class="container">
              <div class="row">
          <li class="col card-title">
            <span> <b>משפחת</b> {{n.LastName}} <br><b>קומה</b> {{n.Floor}}</span>
          </li>

          <div class="col">
            <button mat-stroked-button color="warn" (click)="update(n)">לעדכון</button>
          </div>
          <div class="col">
            <button mat-stroked-button color="accent" (click)="sendEmail(n)"><mat-icon>mail_outline</mat-icon></button>
          </div>
          <div class="col">
            <button mat-fab color="warn" (click)="Delete(n)">
              <mat-icon>delete</mat-icon>
            </button>

          </div>
    </div>
  </div>
  </li>

  </ul>
  <form class="form-horizontal" *ngIf="b" #sendEmail="ngForm" (ngSubmit)="sendEmailForTenats()">
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">נושא</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="email" [(ngModel)]="sendE.massage" placeholder="נושא המייל"
          aria-describedby="email" name="email" required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">הודעה</label>
      <div class="col-sm-10">
        <input class="form-control" id="pwd" [(ngModel)]="sendE.sub" aria-describedby="pwd" name="pwd">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button mat-stroked-button color="accent" type="submit">לשליחה</button>
      </div>
    </div>
  </form>

  <button type="button" class="btn btn-block" (click)="sendEmailForAllTenats()" mat-stroked-button color="accent">לשליחת מייל לכל דיירי
    הבניין</button>

  </form>
</div>
</div>
</div>