<!-- <div class="row"> -->

<!-- <div class="col-sm-3">
        <div *ngIf="dictionary.length > 0" class="card shadow-sm p-3 mb-3 bg-white rounded">
            <div class="card-body">
                <h5 class="card-title">מיין לפי</h5>
                <button class="btn btn-warning btn-block" (click)="sortData()">תאריך</button>
                <br>
                <button class="btn btn-success btn-block" (click)="sort()">סוג הוצאה</button>
                <br>
            </div>
        </div>
        <div class="text-center">
            <button mat-raised-button color="primary" routerLink="/Expenses">הוצאות</button>
        </div>
    </div> -->

<!-- <div class="text-center">
       
    </div> -->
<!-- <div class="col-sm-6">
        <div *ngIf="dictionary.length > 0" class="card shadow-sm p-3 mb-3 bg-white rounded">
            <div class="card-header">
                <h4 dir="rtl" class="text-center">תצוגת ההוצאות</h4>
                <label class="sr-only" for="search">חיפוש הוצאה</label>
                <div class="input-group mb-1">
                    <div class="input-group-append  ">
                        <div class="input-group-text">בחר חודש לתצוגת הוצאות</div>
                    </div>
                    <input [(ngModel)]="search" id="search" class="text-center form-control form-control-lg"
                        type="month" placeholder=" בחר חודש לדוח" name="search"><br>
                </div>
            </div>
            <br>

           
        </div>
    </div> -->
<!-- <div class="col-sm-2">
        <div class="card shadow-sm p-3 mb-5 bg-white rounded" *ngIf="dictionary.length > 0">
            <div class="card-body">
                <h5 class="card-title">הורדות</h5>
                <button class="btn btn-warning btn-block" (click)="print()">להדפסה</button>
                <br>
                <button class="btn btn-success btn-block" (click)="createPdfdictionary()">הורדה ל-PDF</button>
                <br>
                <button class="btn btn-warning btn-block" (click)="creatExceldictionary()">הורדה
                    ל-Excel</button>
            </div>
        </div>
    </div> -->
<!-- </div> -->
<div style="margin-top: 3%;
display: flex;
justify-content: center;    margin-bottom: 3%;">
    <chart [type]="type" [data]="data_cart" [options]="options" style="width: 500px;height: 500px;">
    </chart>
</div>
<div style="display: flex;
flex-direction: column;
align-items: center; ">
    <p style="color: rgba(255, 99, 132,1); font-size: 200%;"><b> סך כל ההוצאות של הבנין : {{all}} </b>
    </p>
    <br>
    <button mat-raised-button color="primary" style="background-color: rgba(255, 99, 132,1);"
        routerLink="/Expenses">הוצאות</button>
</div>